@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$background-color: #E5E5E5;
$card-background-color: white;

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
body{
  padding-left: 260px;
  font-size: 3rem;
  background: $background-color;
}

/*************** dashboard *****************/

.dashboard{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 5fr;
  gap: 1rem;
  margin: 119px 47px 36px 47px;
}
.cardCalender{
  background-color: $card-background-color;
  border-radius: 10px;
  grid-row: 1/3;
  margin-right: 1rem;
  padding-top: 20px;
  padding-left: 20px;
}
.cardStat{
  background-color: $card-background-color;
  border-radius: 10px;
  img{
    float: right;
    margin-right: 24px;
    margin-top: 50px;
  }
  h4{
    margin-top: 42px;
    margin-left: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 39.06px;
    line-height: 47px;
    
    color: #102A43; 
  }
  p{
    margin-left: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    
    color: #17537F; 
  }
}
.cardBottom{
  background-color: $card-background-color;
  border-radius: 10px;
  grid-row: 3/4;
  grid-column: 1/2;
  margin-right: 1rem;
  padding: 17px;
  font-size: 20px;
}
.cardBottomRight{
  background-color: $card-background-color;
  border-radius: 10px;
  grid-row: 3/4;
  grid-column: 2/5;
  margin-right: 1rem;
  padding: 17px;
  font-size: 20px;
}

/*************** patient *****************/