@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$background-color: #E5E5E5;
$card-background-color: white;

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
body{
  padding-left: 260px;
  font-size: 3rem;
  background: $background-color;
}

/*************** dashboard *****************/

.dashboard{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 5fr;
  gap: 1rem;
  margin: 119px 47px 36px 47px;
}
.cardCalender{
  background-color: $card-background-color;
  border-radius: 10px;
  grid-row: 1/3;
  margin-right: 1rem;
  padding-top: 20px;
  padding-left: 20px;
}
.cardStat{
  background-color: $card-background-color;
  border-radius: 10px;
  img{
    float: right;
    margin-right: 24px;
    margin-top: 50px;
  }
  h4{
    margin-top: 42px;
    margin-left: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 39.06px;
    line-height: 47px;
    
    color: #102A43; 
  }
  p{
    margin-left: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    
    color: #17537F; 
  }
}
.cardBottom{
  background-color: $card-background-color;
  border-radius: 10px;
  grid-row: 3/4;
  grid-column: 1/2;
  margin-right: 1rem;
  padding: 17px;
  font-size: 20px;
}
.cardBottomRight{
  background-color: $card-background-color;
  border-radius: 10px;
  grid-row: 3/4;
  grid-column: 2/5;
  margin-right: 1rem;
  padding: 17px;
  font-size: 20px;
}

/*************** patient *****************/

.patients{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    column-gap: 2rem;
    row-gap: 3rem;
    margin: 60px 47px 36px 47px;
}
.cardBottomPatients{
    background-color: $card-background-color;
    border-radius: 10px;
    grid-row: 2/3;
    grid-column: 1/5;
    padding: 17px;
    font-size: 20px;
}
.buttonPatients{
    height: 50px;
    padding-right: 47px;
    button{
        float: right;
        width: 300px;
        height: 60px;

        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;
        background-image: url('./add.png');
        background-repeat: no-repeat;
        text-indent: 10px;
        background-size: 25px 25px;
        background-position-x: 50px;
        background-position-y: center;

        color: #FFFFFF;
        background-color: #F0B429;
        border-radius: 10px;
        border-style: none;
        &:hover{
            opacity: 0.6;
        }
    }      
}
.search-box{
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    margin-bottom: 40px;
}
.search-btn{
    width: 40px;
    height: 40px;
}
.search-txt{
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    line-height: 40px;
    width: 45%;
    border-radius: 10px;
    color: #102A43;
    background-image: url("./search.png");
    text-indent: 100px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position-x: 50px;
    background-position-y: center;
}